body {
    font-size: 1.2em;
    color: black;
}

.center {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site-header {
    height: 355px; /* Высота шапки */
    background:
    /* Чёрный фон по бокам */
    #000
    /* Центрирвоанное изображение поверх чёрного фона */
    url('./Images/Imperium2.jpg') center center no-repeat;

    /* Чтобы текст был поверх изображения: */
    position: relative;
    display: flex;
    align-items: flex-start; /* прижатие к верхнему краю */
    justify-content: center; /* центрирование по горизонтали */
}

/* Стили для текста поверх изображения */
.header-content {
    color: white; /* Цвет текста (для контраста) */
    text-align: center;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5); /* Тень для лучшей читаемости */
    z-index: 1; /* Проверка, что текст поверх фона */
    padding-top: 40px; /* Отступ сверху, чтобы текст не прилипал к самому краю */
}

.site-footer {
    height: 150px;
    background: #000;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content {
    color: white;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    z-index: 1;
}

.site-myAuthorisation {
    height: 355px;
    position: relative;
    overflow: hidden;
}

/* Псевдоэлемент с изображением */
.site-myAuthorisation::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 254px;
    height: 355px;
    background: url('./Images/AdeptusAstartes.jpg') center center no-repeat;
    background-size: cover;
    border-radius: 15px; /* или border-top-left-radius + border-bottom-left-radius */    
}
